* {
    margin: 0%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    color: white;
}

.logo {
    margin-right: 10px;
    padding-top: 15px;
}

.menuItem {
    display: flex;
}

.menuItem li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.menuItem li:hover {
    color: red;
    cursor: pointer;
}

.banner {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    color: white;
}

.bannerDescription {
    margin-left: 50px;
    margin-top: 120px;
}

#firstPara {
    color: tomato;
    font-size: 24px;
    margin: 10px;
}

#title1 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}

#description {
    font-size: 20px;
    margin: 10px;
}

#banner {
    height: 100%;
}

.bannerBtn {
    padding: 15px 30px;
    background-color: tomato;
    margin: 10px;
    font-size: 16px;
    color: white;
}

.bannerBtn:hover {
    background-color: red;
}

.cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.card {

    width: 300px;
    height: 200px;
    border: 1px solid gray;
    margin: 50px;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
}

.card:hover {
    border: 1.5px solid tomato;
    margin-top: -20px;
    transition: .8ms;
}

.title2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.icon {
    width: 50px;
}

#aboutUs {
    display: flex;
    background-color: rgb(20, 19, 19);
    height: 550px;


}

#aboutLeft {
    width: 700px;
    border-top: 1px solid tomato;
    margin: 10px;
    display: flex;
}

#aboutRight {
    width: 700px;
    margin: 10px;
    border-top: 1px solid white;
}

.aboutImg {
    height: 450px;
    width: 250px;
    margin-top: 15px;
    padding: 20px;
    transform: skewY(-15deg);
}


#title2 {
    background-color: rgb(20, 19, 19);
    color: white;
}

#title {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#para {
    font-size: 20px;
    color: rgb(190, 216, 237);
    font-weight: 900;
    padding-bottom: 40px;
    padding-top: 10px;
}

.lists li {
    list-style: none;
    font-size: 18px;
    color: white;
    padding-top: 6px;
}

#inquiry {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 550px;
    background-image: url(images/shape/Group_33094_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 150px 300px;
}

#workout {
    color: white;
}

#chat {
    background-color: white;
    border: 1px;
    height: 30px;
    width: 100px;
    font-size: medium;
}

#chat:hover {
    background-color: blue;
}